<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cookie_EL_Servlet</servlet-name>
        <servlet-class>demo.Cookie_EL_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cookie_EL_Servlet</servlet-name>
        <url-pattern>/Cookie_EL_Servlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>Name</param-name>
        <param-value>Zin Ko Lyn</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
