<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SettingServlet</servlet-name>
        <servlet-class>demo.SettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GettingServlet</servlet-name>
        <servlet-class>demo.GettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitParamDemo</servlet-name>
        <servlet-class>demo.InitParamDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpReqHeaderDemo</servlet-name>
        <servlet-class>demo.HttpReqHeaderDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpResponseDemo</servlet-name>
        <servlet-class>demo.HttpResponseDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>demo.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet1</servlet-name>
        <servlet-class>demo.SessionServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet2</servlet-name>
        <servlet-class>demo.SessionServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingServlet</servlet-name>
        <url-pattern>/SettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GettingServlet</servlet-name>
        <url-pattern>/GettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitParamDemo</servlet-name>
        <url-pattern>/InitParamDemo</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>name</param-name>
        <param-value>zinkolin</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>zinkolin113@gmail.com</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>HttpReqHeaderDemo</servlet-name>
        <url-pattern>/HttpReqHeaderDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpResponseDemo</servlet-name>
        <url-pattern>/HttpResponseDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet1</servlet-name>
        <url-pattern>/SessionServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet2</servlet-name>
        <url-pattern>/SessionServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
